.break {
    height: 100px !important;
}

.titles {
    font-size: 5vw;
    margin-bottom: 10vw;
}

nav {
    ul {
        li {
            font-size: 3vw;
        }
    }
}

main {
    #about {

        .about-info-container {

            p, .email {
                font-size: 3vw;
            }
            
            span {
                font-size: 4vw;
            }

            a {

                img {
                    width: 7vw;
                    height: 7vw;
                }
            }
        }

        .triangle {
            border-top-width: 40vw;
            border-bottom-width: 40vw;
            border-left-width: 10vw;
            border-right-width: 10vw;
        }
    }

    #skills {// height of each container - multiplied by num of child elements
        $front-end: calc(8.5vw * 8 + 0.29vw); 
        $back-end: calc(8.5vw * 5 + 0.29vw); 
        $miscellaneous: calc(8.5vw * 4 + 0.29vw);

        .skills-container {
            .skills-row {
                margin-left: 4vw;
                max-height: 8.5vw;
    
                p {
                    width: calc(100% - 5.98vw);
                    font-size: 2.134vw;
                    padding: 2.7vw;
                    border-width: 0.29vw !important;
                }
            }

            .expand-front-end {
                animation: expand-front-end 1.5s;
                height: $front-end;
                max-height: $front-end;
                margin-bottom: 30px;
            }

            .expand-back-end {
                animation: expand-back-end 1.5s;
                height: $back-end;
                max-height: $back-end;
            }

            .expand-miscellaneous {
                animation: expand-miscellaneous 1.5s;
                height: $miscellaneous;
                max-height: $miscellaneous;
            }

            @keyframes expand-front-end {
                from {height: 8.554vw}
                to {height: $front-end}
            }

            @keyframes expand-back-end {
                from {height: 8.554vw}
                to {height: $back-end}
            }

            @keyframes expand-miscellaneous {
                from {height: 8.554vw}
                to {height: $miscellaneous}
            }
        }
    }

    #portfolio {
        padding-bottom: 0px;
        
        div {

            #portfolio-container {
                display: flex;

                .portfolio-containers {
                    flex-basis: calc(50% - 30px);
                    padding: 0px 15px;

                    .cover {

                        p {
                            font-size: 2.5vw;
                        }
                    }

                    br:nth-of-type(1) {
                        display: none !important;
                    }

                    .title-links, .title-links:visited, i {
                        font-size: 2.5vw !important;
                        margin-top: 10px;
                    }

                    .skills-used {
                        font-size: 2.5vw;
                        margin-top: 10px;
                        margin-bottom: 50px;
                    }
                }

                .video-container {
                    margin-top: 3.5vh;
                }

                .video-container-expanded {
                    animation: expand-video 0.5s;
                    height: 54vw;
                }

                @keyframes expand-video {
                    from {height: 0px}
                    to {height: 54vw}
                }

                .video-container-shrink {
                    animation: shrink-video 0.5s;
                    height: 0px;
                }

                @keyframes shrink-video {
                    from {height: 54vw}
                    to {height: 0px}
                }
            }
        }
    }

    #contact {

        div {
            width: 80%;

            .fields {
                font-size: 2vw !important;
            }
        }
    }
}