.break {
  height: 100px !important;
}

.titles {
  font-size: 5vw;
  margin-bottom: 10vw;
}

nav ul li {
  font-size: 3vw;
}

main #about .about-info-container p, main #about .about-info-container .email {
  font-size: 3vw;
}

main #about .about-info-container span {
  font-size: 4vw;
}

main #about .about-info-container a img {
  width: 7vw;
  height: 7vw;
}

main #about .triangle {
  border-top-width: 40vw;
  border-bottom-width: 40vw;
  border-left-width: 10vw;
  border-right-width: 10vw;
}

main #skills .skills-container .skills-row {
  margin-left: 4vw;
  max-height: 8.5vw;
}

main #skills .skills-container .skills-row p {
  width: calc(100% - 5.98vw);
  font-size: 2.134vw;
  padding: 2.7vw;
  border-width: 0.29vw !important;
}

main #skills .skills-container .expand-front-end {
  -webkit-animation: expand-front-end 1.5s;
          animation: expand-front-end 1.5s;
  height: calc(8.5vw * 8 + 0.29vw);
  max-height: calc(8.5vw * 8 + 0.29vw);
  margin-bottom: 30px;
}

main #skills .skills-container .expand-back-end {
  -webkit-animation: expand-back-end 1.5s;
          animation: expand-back-end 1.5s;
  height: calc(8.5vw * 5 + 0.29vw);
  max-height: calc(8.5vw * 5 + 0.29vw);
}

main #skills .skills-container .expand-miscellaneous {
  -webkit-animation: expand-miscellaneous 1.5s;
          animation: expand-miscellaneous 1.5s;
  height: calc(8.5vw * 4 + 0.29vw);
  max-height: calc(8.5vw * 4 + 0.29vw);
}

@-webkit-keyframes expand-front-end {
  from {
    height: 8.554vw;
  }
  to {
    height: calc(8.5vw * 8 + 0.29vw);
  }
}

@keyframes expand-front-end {
  from {
    height: 8.554vw;
  }
  to {
    height: calc(8.5vw * 8 + 0.29vw);
  }
}

@-webkit-keyframes expand-back-end {
  from {
    height: 8.554vw;
  }
  to {
    height: calc(8.5vw * 5 + 0.29vw);
  }
}

@keyframes expand-back-end {
  from {
    height: 8.554vw;
  }
  to {
    height: calc(8.5vw * 5 + 0.29vw);
  }
}

@-webkit-keyframes expand-miscellaneous {
  from {
    height: 8.554vw;
  }
  to {
    height: calc(8.5vw * 4 + 0.29vw);
  }
}

@keyframes expand-miscellaneous {
  from {
    height: 8.554vw;
  }
  to {
    height: calc(8.5vw * 4 + 0.29vw);
  }
}

main #portfolio {
  padding-bottom: 0px;
}

main #portfolio div #portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #portfolio div #portfolio-container .portfolio-containers {
  -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
  padding: 0px 15px;
}

main #portfolio div #portfolio-container .portfolio-containers .cover p {
  font-size: 2.5vw;
}

main #portfolio div #portfolio-container .portfolio-containers br:nth-of-type(1) {
  display: none !important;
}

main #portfolio div #portfolio-container .portfolio-containers .title-links, main #portfolio div #portfolio-container .portfolio-containers .title-links:visited, main #portfolio div #portfolio-container .portfolio-containers i {
  font-size: 2.5vw !important;
  margin-top: 10px;
}

main #portfolio div #portfolio-container .portfolio-containers .skills-used {
  font-size: 2.5vw;
  margin-top: 10px;
  margin-bottom: 50px;
}

main #portfolio div #portfolio-container .video-container {
  margin-top: 3.5vh;
}

main #portfolio div #portfolio-container .video-container-expanded {
  -webkit-animation: expand-video 0.5s;
          animation: expand-video 0.5s;
  height: 54vw;
}

@-webkit-keyframes expand-video {
  from {
    height: 0px;
  }
  to {
    height: 54vw;
  }
}

@keyframes expand-video {
  from {
    height: 0px;
  }
  to {
    height: 54vw;
  }
}

main #portfolio div #portfolio-container .video-container-shrink {
  -webkit-animation: shrink-video 0.5s;
          animation: shrink-video 0.5s;
  height: 0px;
}

@-webkit-keyframes shrink-video {
  from {
    height: 54vw;
  }
  to {
    height: 0px;
  }
}

@keyframes shrink-video {
  from {
    height: 54vw;
  }
  to {
    height: 0px;
  }
}

main #contact div {
  width: 80%;
}

main #contact div .fields {
  font-size: 2vw !important;
}
/*# sourceMappingURL=mobile.css.map */