.skills-row {
    margin-left: 3.71vw !important;
}

#portfolio {
        
    div {

        #portfolio-container {

            .portfolio-containers {
                flex-basis: calc(100% - 30px) !important;
        
                a {

                    .cover {

                        p {
                            font-size: 5vw !important;
                        }
                    }
                }
        
                div {

                    .title-links, .title-links:visited, .code-links, .code-links:visited, i {
                        font-size: 5vw !important;
                    }
                }
        
                .skills-used {
                    font-size: 5vw !important;
                }
            }

            .video-container {
                margin-top: 30px;
            }

            .video-container-expanded {
                animation: expand-video 0.5s;
                height: 220px !important;
            }

            @keyframes expand-video {
                from {height: 0px}
                to {height: 220px}
            }

            .video-container-shrink {
                animation: shrink-video 0.5s;
                height: 0px;
            }

            @keyframes shrink-video {
                from {height: 220px}
                to {height: 0px}
            }
        }
    }
}

.message {
    font-size: 4vw !important;
}