* {
  font-family: 'Lato', sans-serif;
  padding: 0px;
  margin: 0px;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff284c;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #212121;
  color: #f2f2f2 !important;
}

#particles-js {
  background-color: #212121;
  height: 100vh;
  width: 100%;
  position: absolute;
  -webkit-animation: fade 3s;
          animation: fade 3s;
  z-index: -1 !important;
}

#background-cover {
  width: 100%;
  height: 100%;
  background-color: #212121;
  position: absolute;
  z-index: -2 !important;
}

#background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  -webkit-animation: fade 3s;
          animation: fade 3s;
  z-index: -3 !important;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.titles {
  margin-bottom: 100px;
  font-size: 2.5vw;
  font-weight: 900;
}

header {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

header h1, header h2 {
  font-weight: 400;
  font-size: 6vw;
  color: #fff;
  text-align: center;
  -webkit-animation: fade 5s;
          animation: fade 5s;
}

header h2 {
  font-size: 4vw;
}

nav {
  width: 100%;
  background-color: #212121;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: #1c1c1c 0px 10px 15px;
          box-shadow: #1c1c1c 0px 10px 15px;
  z-index: 10;
}

nav ul {
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  font-weight: 300;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: center;
  padding: 20px 0px;
  font-size: 1vw;
}

nav ul li a, nav ul li a:visited {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ff284c;
}

main section {
  padding: 50px 0px;
  overflow: hidden;
}

main .break {
  width: 100%;
  height: 250px;
}

main #about, main #skills {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
  background-color: #212121;
}

main #about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}

main #about .about-info-container {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main #about .about-info-container p {
  font-size: 1vw;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
}

main #about .about-info-container span {
  font-size: 1.5vw;
  color: #ff284c;
}

main #about .about-info-container a, main #about .about-info-container a:hover, main #about .about-info-container a:visited {
  color: none;
  text-decoration: none;
}

main #about .about-info-container a img, main #about .about-info-container a:hover img, main #about .about-info-container a:visited img {
  background-color: #fff;
  cursor: pointer;
  width: 3.5vw;
  height: 3.5vw;
}

main #about .about-info-container a img:hover, main #about .about-info-container a:hover img:hover, main #about .about-info-container a:visited img:hover {
  -webkit-animation: backgroundcolourChange 0.3s;
          animation: backgroundcolourChange 0.3s;
  background-color: #ff284c;
}

@-webkit-keyframes backgroundcolourChange {
  from {
    background-color: #fff;
  }
  to {
    background-color: #ff284c;
  }
}

@keyframes backgroundcolourChange {
  from {
    background-color: #fff;
  }
  to {
    background-color: #ff284c;
  }
}

main #about .triangle {
  height: 0px;
  border: solid 20vw #fff;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
}

main #about .left-triangle {
  border-top-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
}

main #about .right-triangle {
  border-left-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
}

main #skills {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding-bottom: 0px;
}

main #skills div img {
  width: 90vw;
  max-width: 500px;
  background-color: #ff284c;
}

main #skills div img:hover {
  -webkit-animation: colourChange 0.3s;
          animation: colourChange 0.3s;
  background-color: #fff;
}

@-webkit-keyframes colourChange {
  from {
    background-color: #ff284c;
  }
  to {
    background-color: #fff;
  }
}

@keyframes colourChange {
  from {
    background-color: #ff284c;
  }
  to {
    background-color: #fff;
  }
}

main #portfolio {
  background-color: #212121;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main #portfolio div h1 {
  width: 100%;
  text-align: center;
}

main #portfolio div #portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #portfolio div #portfolio-container .portfolio-containers {
  -ms-flex-preferred-size: calc(25% - 100px);
      flex-basis: calc(25% - 100px);
  padding: 0px 50px;
  height: auto;
}

main #portfolio div #portfolio-container .portfolio-containers a {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
  text-decoration: none !important;
  cursor: pointer;
  position: relative;
}

main #portfolio div #portfolio-container .portfolio-containers a img {
  width: 100%;
  height: auto;
  opacity: 1;
}

main #portfolio div #portfolio-container .portfolio-containers a .cover {
  width: 100%;
  height: 0%;
  background-color: rgba(33, 33, 33, 0.4);
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: absolute;
  overflow: hidden;
}

main #portfolio div #portfolio-container .portfolio-containers a .cover p {
  color: #fff;
  z-index: 1;
  text-align: center;
  margin: 0px;
  font-weight: 100;
}

main #portfolio div #portfolio-container .portfolio-containers a:hover img {
  -webkit-animation: zoom 1s;
          animation: zoom 1s;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

main #portfolio div #portfolio-container .portfolio-containers a:hover .cover {
  -webkit-animation: expand 1s;
          animation: expand 1s;
  height: 100%;
}

@-webkit-keyframes expand {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@keyframes expand {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  to {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  to {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
}

main #portfolio div #portfolio-container .portfolio-containers div {
  text-align: center;
}

main #portfolio div #portfolio-container .portfolio-containers div .title-links, main #portfolio div #portfolio-container .portfolio-containers div .title-links:visited, main #portfolio div #portfolio-container .portfolio-containers div .code-links, main #portfolio div #portfolio-container .portfolio-containers div .code-links:visited {
  display: inline-block;
  vertical-align: bottom;
  width: auto;
}

main #portfolio div #portfolio-container .portfolio-containers div .title-links, main #portfolio div #portfolio-container .portfolio-containers div .title-links:visited {
  text-align: center;
  font-size: 1vw;
  font-weight: 200;
  color: #fff;
  text-decoration: none;
}

main #portfolio div #portfolio-container .portfolio-containers div .title-links:hover {
  color: #ff284c;
}

main #portfolio div #portfolio-container .portfolio-containers div i {
  color: darkgray;
  margin-left: 20px;
}

main #portfolio div #portfolio-container .portfolio-containers div .code-links, main #portfolio div #portfolio-container .portfolio-containers div .code-links:visited {
  margin-left: 20px;
}

main #portfolio div #portfolio-container .portfolio-containers div .code-links i, main #portfolio div #portfolio-container .portfolio-containers div .code-links:visited i {
  color: #fff;
  margin-left: 0px;
}

main #portfolio div #portfolio-container .portfolio-containers div .code-links:hover i {
  color: #ff284c;
}

main #portfolio div #portfolio-container .portfolio-containers .skills-used {
  text-align: center;
  margin-top: 30px;
  font-weight: 300;
}

main #contact {
  background-color: #212121;
  padding-bottom: 0px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main #contact div {
  width: 25%;
}

main #contact div h1 {
  text-align: center;
}

main #contact form {
  width: 100%;
}

main #contact form input, main #contact form textarea, main #contact form button {
  display: block;
  border: solid 1px #fff;
  background-color: #212121;
  color: #fff;
  margin-top: 10px;
  padding: 10px;
  width: calc(100% - 22px);
  resize: vertical;
}

main #contact form .button-container {
  width: 25%;
  position: relative;
  height: 45px;
  margin-top: 10px;
  overflow: hidden;
}

main #contact form .button-container button {
  width: 100%;
  height: 0%;
  background-color: rgba(0, 0, 0, 0);
  border-color: #fff;
  border-width: 0px;
  z-index: 1;
  margin-top: 0px;
  padding: 0px;
  position: relative;
  cursor: pointer;
}

main #contact form .button-container .button-cover {
  width: 100%;
  height: 100%;
  border: solid 1px #212121;
  z-index: 1;
  background-color: #212121;
  position: relative;
}

main #contact form .button-container .text {
  padding: 0px !important;
  width: 100%;
  height: 100%;
  color: #fff;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: solid 1px rgba(0, 0, 0, 0);
  z-index: 0;
  position: relative;
  top: calc(-100% - 1px);
  cursor: pointer;
}

main #contact form .button-container .text p {
  height: 25px;
}

@keyframes expand {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@-webkit-keyframes shrink {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}

@keyframes shrink {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}

main #contact form .button-container:hover .text {
  background-color: #ff284c;
}

main #contact .message {
  font-size: 1vw;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
}

/* --- Animation Class --- */
.slide-up {
  -webkit-animation: slideup 1.2s ease-out;
          animation: slideup 1.2s ease-out;
}

@-webkit-keyframes slideup {
  from {
    margin-top: 500px;
  }
  to {
    margin-top: 0px;
  }
}

@keyframes slideup {
  from {
    margin-top: 500px;
  }
  to {
    margin-top: 0px;
  }
}

/*

Lighthouse check
Upload to GitHub
Upload to server

*/
/* -- Table View -- */
@media (max-width: 1024px) {
  header h1 {
    font-size: 10vw;
  }
  header h2 {
    font-size: 7vw;
  }
  .titles {
    font-size: 4vw;
  }
  .break {
    height: 200px !important;
  }
  nav ul li {
    font-size: 2vw;
  }
  main #about .about-info-container p {
    font-size: 2vw;
  }
  main #about .about-info-container span {
    font-size: 3vw;
  }
  main #about .about-info-container a img {
    width: 4vw;
    height: 4vw;
  }
  main #about .triangle {
    border-top-width: 30vw;
    border-bottom-width: 30vw;
    border-left-width: 10vw;
    border-right-width: 10vw;
  }
  main #portfolio div #portfolio-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main #portfolio div #portfolio-container .portfolio-containers {
    -ms-flex-preferred-size: calc(25% - 30px);
        flex-basis: calc(25% - 30px);
    padding: 0px 15px;
  }
  main #portfolio div #portfolio-container .portfolio-containers .cover p {
    font-size: 1.5vw;
  }
  main #portfolio div #portfolio-container .portfolio-containers .title-links, main #portfolio div #portfolio-container .portfolio-containers .title-links:visited {
    font-size: 1.5vw !important;
  }
  main #portfolio div #portfolio-container .portfolio-containers .skills-used {
    font-size: 1.5vw;
  }
  main #contact div {
    width: 35%;
  }
}

/* -- Mobile View -- */
@media (max-width: 450px) {
  .break {
    height: 100px !important;
  }
  .titles {
    font-size: 5vw;
    margin-bottom: 10vw;
  }
  nav ul li {
    font-size: 3vw;
  }
  main #about .about-info-container p {
    font-size: 3vw;
  }
  main #about .about-info-container span {
    font-size: 4vw;
  }
  main #about .about-info-container a img {
    width: 7vw;
    height: 7vw;
  }
  main #about .triangle {
    border-top-width: 40vw;
    border-bottom-width: 40vw;
    border-left-width: 10vw;
    border-right-width: 10vw;
  }
  main #portfolio {
    padding-bottom: 0px;
  }
  main #portfolio div #portfolio-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main #portfolio div #portfolio-container .portfolio-containers {
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    padding: 0px 15px;
  }
  main #portfolio div #portfolio-container .portfolio-containers .cover p {
    font-size: 2.5vw;
  }
  main #portfolio div #portfolio-container .portfolio-containers br:nth-of-type(1) {
    display: none !important;
  }
  main #portfolio div #portfolio-container .portfolio-containers .title-links, main #portfolio div #portfolio-container .portfolio-containers .title-links:visited, main #portfolio div #portfolio-container .portfolio-containers i {
    font-size: 2.5vw !important;
    margin-top: 10px;
  }
  main #portfolio div #portfolio-container .portfolio-containers .skills-used {
    font-size: 2.5vw;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  main #contact div {
    width: 80%;
  }
  main #contact div .fields {
    font-size: 2vw !important;
  }
}

/* -- Small Mobile View -- */
@media (max-width: 400px) {
  #portfolio div #portfolio-container .portfolio-containers {
    -ms-flex-preferred-size: calc(100% - 30px) !important;
        flex-basis: calc(100% - 30px) !important;
  }
  #portfolio div #portfolio-container .portfolio-containers a .cover p {
    font-size: 5vw !important;
  }
  #portfolio div #portfolio-container .portfolio-containers div .title-links, #portfolio div #portfolio-container .portfolio-containers div .title-links:visited, #portfolio div #portfolio-container .portfolio-containers div .code-links, #portfolio div #portfolio-container .portfolio-containers div .code-links:visited, #portfolio div #portfolio-container .portfolio-containers div i {
    font-size: 5vw !important;
  }
  #portfolio div #portfolio-container .portfolio-containers .skills-used {
    font-size: 5vw !important;
  }
}
/*# sourceMappingURL=styles.css.map */